<p>
  <strong>spentperson</strong>
  <%= @expense.spentperson %>
</p>
<p>
  <strong>amount</strong>
  <%= @expense.amount %>
</p>
<p>
  <strong>otherperson</strong>
  <%= @expense.otherperson %>
</p>
<p>
  <strong>reason</strong>
  <%= @expense.reason %>
</p>
<%= link_to 'Back', expenses_path %>